<!-- This is the form template they have to fill out to sign up -->
<div class="container signin">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
    <h1>Sign up</h1>
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object  %>

        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>

        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Register", class: "btn btn-default", style: "margin-top: 20px;"%>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
